$color-primary: #00bd56;
$color-primary-light: #0deb71;

$color-white: #fff;
$color-grey-light: #a6a6a6;
$color-dark: #000000;
$color-light: #f8f9fd;
$color-blue: #207dff;
$color-dark-light: #313131;
