.btn {
  color: $color-white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: $color-primary;
  padding: 1.5rem 3.5rem;
  border-radius: 3px;
  transition: all 0.2s;
  border: 1px solid transparent;
  cursor: pointer;

  &--header {
    animation: moveInUp 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    justify-self: center;
  }

  &--contact {
    align-self: center;
    justify-self: start;

    @include respond(phone) {
      grid-column: 1 / -1;
    }
  }

  &:hover {
    background-color: $color-white;
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  &:focus {
    outline: none;
  }
}
